#!/bin/bash
if [ "$spring_profiles_active" = "azure" ]
then
    export SUBSCRIPTION_ID=$(az account set --subscription "$DEFAULT_AZURE_SUBSCRIPTION" && az account show --output tsv --query id)
    export LOCATION="westeurope"
    export UNIQUE_IDENTIFIER="edo-azure-ai-sb"
    export RESOURCE_GROUP="rg-$UNIQUE_IDENTIFIER"
    export COGNITIVE_SVCS_NAME="cog-$UNIQUE_IDENTIFIER"
    export COG_SVCS_EMBED_MODEL_NAME="text-embedding-ada-002"
    export COG_SVCS_EMBED_MODEL_VERSION=2
    export COG_SVCS_EMBED_MODEL_FORMAT="OpenAI"
    export COG_SVCS_GEN_AI_MODEL_NAME="gpt-4o-mini"
    export COG_SVCS_GEN_AI_MODEL_VERSION="2024-07-18"
    export COG_SVCS_GEN_AI_MODEL_FORMAT="OpenAI"
    export SPRING_AI_AZURE_OPENAI_API_KEY=$(az cognitiveservices account keys list --name $COGNITIVE_SVCS_NAME --resource-group $RESOURCE_GROUP --query key1 --output tsv)
    export SPRING_AI_AZURE_OPENAI_ENDPOINT=$(az cognitiveservices account show --name $COGNITIVE_SVCS_NAME --resource-group $RESOURCE_GROUP --query properties.endpoint --output tsv)
    export SPRING_AI_AZURE_OPENAI_CHAT_OPTIONS_DEPLOYMENT_NAME="${COG_SVCS_GEN_AI_MODEL_NAME}-deployment"
    export SPRING_AI_AZURE_OPENAI_EMBEDDING_OPTIONS_MODEL=${COG_SVCS_EMBED_MODEL_NAME}
else
    export SPRING_AI_OPENAI_API_KEY=${SPRING_AI_OPENAI_API_KEY}
fi
export REDIS_PASSWORD="nwf83-4jtg3WkvSskjv9-u34uivs"
export REDIS_PORT=6379
